* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FormLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: gray 100;
    border-radius: 25px;
    padding: 30px 40px;
}

.FormLogin .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    font-size: 15px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffff;
}

.Title-Login {
    font-size: 40px;
    text-align: center;
}

.FormLogin button {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}